	
/*NAZZZIIIIIIIIIIIIIIIIII*/



.nazi{
    width: 400px;
}

.headings{
    
		  font-size: 25px;
		  font-family: 'Montserrat';
		  font-weight: 700;
		  opacity: 1;
		  transition: opacity 0.3s ease-in-out;
		 
		 padding-top:25px;
		  left:20px;
    
}



.headingssmaller{
      font-size: 18px;
		  font-family: 'Montserrat';
		  font-weight: 600;
		  opacity: 1;
		  transition: opacity 0.3s ease-in-out;
		 margin-top: -20px;
		  top:25px;
		  left:20px;
}


.subtext{
      font-size: 18px;
		  font-family: 'Montserrat';
		  font-weight: 400;
		  opacity: 1;
		  transition: opacity 0.3s ease-in-out;
		 padding-bottom: 30px
		
}


.imgpadding{
    padding-bottom: 60px;
}



.contactme{
    
    font-size: 18px;
	font-family: 'Montserrat';
    font-weight: 400;
   padding-top: 100px;
    padding-bottom: 50px;
    
}



.contactme a{
    color: #FFBC00;
    cursor: pointer;
    text-decoration: none;
    list-style-type: none;
}



.linkpadding{
    padding-left: 20px;
    padding-right: 20px;
}


.nextbutton{
   
    
    font-weight: 900;
    font-family: 'Montserrat';
    font-style: italic;
    font-size: 25px;
    
    transform: rotate(-25deg);
   
}


.nextbutton a{
	color: #FFBC00;
    cursor: pointer;
    text-decoration: none;
   }

	.nextbutton a:hover{
		font-style: normal;
	}


.paddingsign{
    padding-top: 60px;
    
}



.whitetype{
    color: white;
}
















html, body {
    max-width: 100%;
    overflow-x: hidden;
}


.slider {
  	margin-top:20vh;
  	height: 55vh;
  	}
  	.slider img{
  		width: auto;
  		height: 55vh;
  	}
  	.slick-dots {
	height: 5vh;
    top: -50px;
    left: 25%;
    right: 25%;
    width: 50%;
	}
    .slick-slide {
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
	}
	.slick-list{
		min-height: 55vh;
	}
	body{
		background-color: black;
	}

	.ash {
		  position: fixed;
		  transform: rotate(-25deg);
		  font-size: 25px;
		  font-family: 'Montserrat';
		  font-style: italic;
		  font-weight: 900;
		  opacity: 1;
		  transition: opacity 0.3s ease-in-out;
		  color: #FFBC00;
		  top:25px;
		  left:20px;
         z-index: 100;
		}

		.logoHide{
			opacity: 0;
		}
		.navButton {
		  position: fixed;
		  font-size: 50px;
		  font-weight: 400;
		  color: #FFBC00;
		  top:0px;
		  right:25px;
			-webkit-transition: -webkit-transform .5s ease-in-out;
		    -ms-transition: -ms-transform .5s ease-in-out;
		    transition: transform .5s ease-in-out;
		}
	.mainnav{
    right: 30px;
    top:140px;
    font-weight: 900;
    font-family: 'Montserrat';
    font-style: italic;
    font-size: 25px;
    z-index: 100;
    position: fixed;
    /* position: fixed; */
	}
	.mainnav li{
		writing-mode: vertical-lr;
		display: block;
		margin-bottom: 20px;
	}

	.mainnav a{
	color: #FFBC00;
    cursor: pointer;
    text-decoration: none;
	}

	.mainnav a:hover{
		font-style: normal;
	}


	.mobnav{
    top:150px;
    font-weight: 900;
    font-family: 'Montserrat';
    font-style: italic;
    font-size: 50px;
    z-index: 100;
    width: 100%;
    padding: 0px;
    margin-top: 100px;
	}
	.mobnav li{
		transform: rotate(-25deg);
		display: block;
		margin-bottom: 20px;
	}

	.mobnav a{
	color: #FFBC00;
    cursor: pointer;
    text-decoration: none;
	}

	.mobnav a:hover{
		font-style: normal;
	}

	.descTitle{
	font-weight: 900;
    font-family: 'Montserrat';
    font-style: italic;
    font-size: 16px;
    color: white;
	}

	.descDetail{
	font-weight: 400;
    font-family: 'Montserrat';
    font-size: 12px;
    color: white;
	}

	#video1{
		position: fixed;
		width:80%;
		max-height: 90vh;
		z-index: 100;
		left:10%;
		top: 5vh;
		opacity: 0;
		visibility: hidden;
		transition: visibility 1s, opacity 0.5s linear;
	}


		#video2{
		position: fixed;
		    width: 100%;
		    z-index: 100;
		    left: 0;
		    top: 25vh;
		opacity: 0;
		visibility: hidden;
		transition: visibility 1s, opacity 0.5s linear;
	}

	#desc {
   -webkit-transition: opacity .3s ease-in-out;
   -moz-transition: opacity .3s ease-in-out;
   -ms-transition: opacity .3s ease-in-out;
   -o-transition: opacity .3s ease-in-out;
   transition: opacity .3s ease-in-out;
   margin-bottom:50px;
   margin-left:25%;
	}


	.rotated { 
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
	}



/*MOBILE MOBILE MOBILE MOBILE MOBILE MOBEIL*/

	@media (max-width: 600px) {
  	.web{
  		display:none;
  	}
  	.mobile{
  		display:block;
        
  	}
        
        .contactme{
            display: none;
        }
        
        
       
        
        
	}








	@media (min-width: 600px) {
  	.web{
  		display:block;
  	}
  	.mobile{
  		display:none;
  	}
	}
.white{
    background-color: white;
}
	.navMobile{
		width:100%;
		height: 100%;
		position: fixed;
		top: -100%;
		background-color: black;
		left: 0;
		z-index: 1000;
		transition: top .5s ease-in-out;
	}
	.navMobileVis{
		top: 0px;
	}

	.mobImgs{
		width:80%;
		margin-top: 100px;
		float: left;
	}

	.mobImgs img{
		width:100%;
		margin-top: 10px;
	}


	.mobnavbg{
    height: 90px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2000;
	}


	.mobdescTitle{
	font-weight: 900;
    font-family: 'Montserrat';
    font-style: italic;
    font-size: 16px;
    color: white;
    float: right;
    writing-mode: vertical-lr;
	}

	.mobdescDetail{
	font-weight: 400;
    font-family: 'Montserrat';
    font-size: 12px;
    color: white;
    float: left;
    writing-mode: vertical-lr;
	}

	.mobDesc{
	width: 10%;
    position: fixed;
    right: 0;
    margin-top: 100px;
    padding: 20px;
	}

	#mob-img{
	width: 12%;
    position: fixed;
    right: 0;
    margin-top: 80vh;
    padding: 20px;
	}